*{margin: 0;
padding: 0;
box-sizing: border-box;}

html , body{ max-width: 100% !important;
    overflow-x: hidden !important;}


@font-face{font-family:ModernSans-Light ;
src:url(../../fonts/zoo/ModernSans-Light.otf);}


@font-face{font-family:Quenda-Medium;
src:url(../../fonts/zoo/Quenda-Medium.otf);}


@font-face{font-family:HindMadurai-Medium;
src:url(../../fonts/zoo/HindMadurai-Regular.ttf);}

html::-webkit-scrollbar{
width: 0.5vw;
}


html::-webkit-scrollbar-thumb{  
border-radius: 20px;
background-image: linear-gradient(to right top, #0c230d, #0c3311, #0a4313, #085413, #056612, #046e20, #02762d, #007e3a, #007d4f, #007c5f, #15796b, #327672);
}


.what{position: fixed;
bottom: 15vh;
right: 2vh;
color: white;
font-size: 8.5vh;
z-index: 999;
background: green;
box-shadow: 10px 10px 10px black }

.what a i{padding: 1.5vh;
border-radius: 50%;
bottom: :2vh;
right: 1vh;
position: absolute;
background:white ;
border-radius: 50%;
background: green;
border: 1px  solid gray;}

.what a{color: white;
background: green}


.what i:hover{ background:white;
  border-radius: 50%;
transition: all 2s ease ;
color: green;
border: 1px  solid green;
box-shadow: 0 0 4vh green;}



.prin{background:#222d4f;}

.prese{background:#222d4f;
color: white; 	padding: 0vh 20vh	;
padding-bottom: 10vh	}

.prese h5{font-size:5.5vh;
color: white; 
padding: 1vh;text-align: center;
margin-top: 15vh;
font-family:Quenda-Medium; 
}



.prese p{font-size:3.2vh;
color: white; 
font-family:HindMadurai-Medium;padding:2vh 5vh;text-align: center}


.logo{ display: flex; margin: auto;
justify-content: center;
align-items: center;
background-color: rgb(34, 98, 17);
width: 30vw;
border-radius:0px 0px 20px 20px ;
padding: 1vh 0.5vh; 
box-shadow: 5px 5px 5px black}

.logo img{width: 4vw;
height: 6vh}

.logo h1{
font-family:Quenda-Medium; 
font-size: 5vh; 
padding: 1vh;
color: black}


.list{display: flex ;
position: absolute; top: 15vh;
position: center; 
 ;width: 100% ;
align-items: center;
justify-content: center;
margin: 2vh auto;}


.list ul {position: absolute; 
background: rgba(5, 4, 4,0.6);
padding: 1vh;
border-radius: 5vh;
border: 1px solid rgba(103, 194, 17,0.2)}


.list ul li {display: inline-block;
 margin: 0px 2px;
 padding: 0.6vh;
 text-decoration: none;}

.list ul li a {
font-family: HindMadurai-Medium;
text-decoration: none; 
color: white;
font-size:3vh;
margin-top: 4px;
padding:0vh 2vh;}

.list ul li a:hover{cursor: pointer;
   ;  transition-delay: 100ms;
   border-bottom: 0.5vh solid green}


.origen{display: grid;
grid-template-columns: repeat(2,1fr);
}


.origen .origen-o{background: rgb(255, 255, 255);
padding:10vh 5vh;}


.origen .origen-o h5{font-size:4vh; 
font-family:ModernSans-Light;
padding:2vh 5vh;text-align: center;
border-bottom: 1px solid green}


.origen .origen-o p{font-size:3vh; 
padding:5vh;text-align: center;
font-family:HindMadurai-Medium;}


.origen .origen-i{background: rgb(235, 235, 227);
padding:10vh 5vh;}

.origen .origen-i img{width: 40vw
;height: 50vh;
display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;}

.origen .origen-i p{font-size:2.5vh; 
font-family:ModernSans-Light;
padding:2vh 4vh;
color: gray}




.origen .origen-i2{background:rgb(212, 212, 222);
padding:10vh 5vh;}

.origen .origen-i2 img{width: 40vw
;height: 50vh;
display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;}


.origen .origen-i2 p{font-size:2.5vh; 
font-family:ModernSans-Light;
padding:2vh 4vh;
color: gray}



.fondo{
  background-image: linear-gradient(to right top, #0c230d, #0c3311, #0a4313, #085413, #056612, #046e20, #02762d, #007e3a, #007d4f, #007c5f, #15796b, #327672);}

.fond{
display: grid;
grid-template-columns: repeat(3,1fr);}



.fond .zoo img{width: 16vw;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto}

.fond .zoo h3{
font-family:Quenda-Medium;
font-size: 4vh;
text-align: center;
color: white;}

.fond .zoo p{
font-family:HindMadurai-Medium;  
color: white;
font-size:3vh;
text-align: center;
padding: 1vh 5vh}

.fond .dr h3{
font-family:ModernSans-Light;
font-size: 4vh;
text-align: center;
padding-top: 5vh ;
color: white;}

.fond .dr p{{font-family:HindMadurai-Medium;
color: white;
font-size:3vh;
text-align: center;
color: white;
width: 100%}

.fond .dr ul{display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;}


.fond .dr ul li{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: center;
list-style: none;}

.fond .dr h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
font-family:Quenda-Medium;
font-size: 3.3vh;
text-align: center;
margin-top: 3vh ;
color: black;
background: white;
width: 35%;
padding: 1vh 0.5vh;
border-radius: 10%}


.fond .contac h3{
font-family:Quenda-Medium;
font-size: 4vh;
text-align: center;
padding-top: 5vh ;
color: white;}

.fond .contac ul{
margin: 0 auto;
justify-content: center;
align-items: center;}


.fond .contac ul li{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: left;
list-style: none;
text-align: center;}



.fond .contac ul li a{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: left;
list-style: none;
text-decoration: none;}

.social{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto
;width: 100%}

.social a i {font-size: 4vh}

.social a{padding: 1vh;
  margin: 2vh;
background: white;
color: black}

.fonds{width: 60%;
margin: 0 auto;
padding-top: 6VH }

.fonds{font-family:ModernSans-Light;
color: white;
font-size:2.8vh;
text-align: center;
color: white;}

@media screen and (max-width: 600px)

{

.logo{ display: flex; margin: auto;
justify-content: center;
align-items: center;
background-color: rgb(34, 98, 17);
width: 70vw;
border-radius:0px 0px 20px 20px ;
padding: 0vh 0vh; 
box-shadow: 10px 4px 10px black}

.logo img{width: 8vw;
height: 3vh}

.logo h1{
font-family:Quenda-Medium; 
font-size: 27px; 
padding: 0vh;
color: black}

.list{display: none ;}


}