*{margin: 0;
padding: 0;
box-sizing: border-box;}

html , body{ max-width: 100% !important;
    overflow-x: hidden !important;}

body{
background: background: rgb(255, 255, 255);
}

@font-face{font-family:ModernSans-Light ;
src:url(../../fonts/zoo/ModernSans-Light.otf);}


@font-face{font-family:Quenda-Medium;
src:url(../../fonts/zoo/Quenda-Medium.otf);}


@font-face{font-family:HindMadurai-Medium;
src:url(../../fonts/zoo/HindMadurai-Regular.ttf);}

html::-webkit-scrollbar{
width: 0.5vw;
}


html::-webkit-scrollbar-thumb{  
border-radius: 20px;
background-image: linear-gradient(to right top, #0c230d, #0c3311, #0a4313, #085413, #056612, #046e20, #02762d, #007e3a, #007d4f, #007c5f, #15796b, #327672);
}

p{font-family:HindMadurai-Medium;}

h3{font-family:HindMadurai-Medium;}


.prin{background: rgb(200,200,200);}

.logo{ display: flex; margin: auto;
justify-content: center;
align-items: center;
background-color: rgb(34, 98, 17);
width: 30vw;
border-radius:0px 0px 20px 20px ;
padding: 1vh 0.5vh; 
box-shadow: 10px 15px 10px black}

.logo img{width: 4vw;
height: 6vh}

.logo h1{
font-family:Quenda-Medium; 
font-size: 5vh; 
padding: 1vh;
color: black}

.list{display: flex 
 ;width: 100% ;
align-items: center;
justify-content: center;
margin: 0 auto}

.list ul {margin: 5vh 0vh}

.list ul li {display: inline-block;
 margin: 0px 2px;
 padding: 1vh;
 text-decoration: none;}

.list ul li a {
  font-family: ModernSans-Light ;
text-decoration: none; color:black;
font-size: 3vh;
margin-top: 4px;
padding:1vh;
border-radius: 10%}

.list ul li a:hover{cursor: pointer;
   background: rgba(34, 98, 17,0.6);
   ;  transition-delay: 100ms;}




.fauna{ background: url(../img/6466-verde.jpg);
background-size: cover; padding: 10px 3px;
}


.di{display: grid;
grid-template-columns: repeat(2,1fr);
; width:95%;
margin: 0 2.5%}

.fauna .di img{width: 40vw;
	height:55vh ;
 align-items: center;
	justify-content: center; margin: 5vh auto;
	padding: 2vh; border-radius: 40px;
box-shadow: 2px 2px 4px 3px black;
cursor: pointer;}


.fauna .di img:hover{
   transform: scale(1.1); 
}


.fauna .di h1 {color: white;
font-family:Tekton; 
font-size: 4.5vh;
margin-top: 3vh;
margin: 5vh auto}

.fauna .di li {color: white;
font-family:Tekton; 
font-size: 3.5vh;
padding-bottom: 1vh
}


.one{width: 85%; margin: 1vh auto}

.imgc {display:grid;
grid-template-columns:repeat(2,1fr);}

.imgc img{width: 80vw}


.one .imgc img:hover{
   transform: scale(1.4); 
}

.one ul {margin-left: 20vh}

.one li{ font-size: 3.1vh;font-family:Tekton; }

.one h3{font-family:Tekton; 
font-size: 3.5vh;
  margin: 10px 10px;
letter-spacing: 2px;
font-weight: bold;
padding-left:2%;
}

.one p{
font-family:HindMadurai-Medium;
padding: 2vh 10px;
font-size: 3.2vh;
line-height: 1.4;
width: 90%;
margin-top: 2}

.one img{ width: 60% ;height: 40vh;
margin: 0px 20%; border-radius: 2%}


.coco{ display: grid;
grid-template-columns: repeat(2,1fr); }

.coco img{width: 70% ;height: 40vh;
  border-radius: 4%;
margin-top: 2vh}


.une{background: url(../../img/zoo/verde.jpg);
height: 40vh;
background-repeat: no-repeat;
background-size: 100% }

.une h4{font-size: 6vh;
     font-family: ModernSans-Light;
     text-align: center;
     padding-top: 10vh;
     color: white}


.une h5{font-size: 4.5vh;
     font-family: ModernSans-Light;
     text-align: center;
     padding-top: 4vh;
     color: white;
     width: 70%;
     margin: 0 auto }


figure{position: relative;}

.lugar{background: url(../../img/zoo/mapa.jpg);
background-size: 100% 100%;
background-size: cover;}

.lugar h6{font-size: 4.5vh;
     font-family: ModernSans-Light;
     text-align: center;
     padding-top: 4vh;
     color: black;
     width: 70%;
     margin: 0 auto ;
     position: relative;
     z-index: 5}

.lugar iframe{width: 40vw;
  height: 60vh;
margin: 0 auto;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin:0 auto;
border: none;  
z-index: 2;
position: relative;
padding: 5vh 0vh}

.capa{position: absolute;
background:rgba(112, 203, 8,0.5);
top: 0px;
width: 100%;
height: 100%;
z-index: 1
}




.fondo{
  background-image: linear-gradient(to right top, #0c230d, #0c3311, #0a4313, #085413, #056612, #046e20, #02762d, #007e3a, #007d4f, #007c5f, #15796b, #327672);}

.fond{
display: grid;
grid-template-columns: repeat(3,1fr);}



.fond .zoo img{width: 16vw;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto}

.fond .zoo h3{
font-family:Quenda-Medium;
font-size: 4vh;
text-align: center;
color: white;}

.fond .zoo p{
font-family:HindMadurai-Medium;  
color: white;
font-size:3vh;
text-align: center;
padding: 1vh 5vh}

.fond .dr h3{
font-family:ModernSans-Light;
font-size: 4vh;
text-align: center;
padding-top: 5vh ;
color: white;}

.fond .dr p{{font-family:HindMadurai-Medium;
color: white;
font-size:3vh;
text-align: center;
color: white;
width: 100%}

.fond .dr ul{display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;}


.fond .dr ul li{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: center;
list-style: none;}

.fond .dr h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
font-family:Quenda-Medium;
font-size: 3.3vh;
text-align: center;
margin-top: 3vh ;
color: black;
background: white;
width: 35%;
padding: 1vh 0.5vh;
border-radius: 10%}


.fond .contac h3{
font-family:Quenda-Medium;
font-size: 4vh;
text-align: center;
padding-top: 5vh ;
color: white;}

.fond .contac ul{
margin: 0 auto;
justify-content: center;
align-items: center;}


.fond .contac ul li{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: left;
list-style: none;
text-align: center;}



.fond .contac ul li a{padding: 1vh 2vh;
font-family:ModernSans-Light;
color: white;
font-size:3vh;
color: white;
text-align: left;
list-style: none;
text-decoration: none;}

.social{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto
;width: 100%}

.social a i {font-size: 4vh}

.social a{padding: 1vh;
  margin: 2vh;
background: white;
color: black}

.fonds{width: 60%;
margin: 0 auto;
padding-top: 6VH }

.fonds{font-family:ModernSans-Light;
color: white;
font-size:2.8vh;
text-align: center;
color: white;}